extends layout
block content
      .row
        .holder
          .large
            h2  GYM 
            h2  EQUIPTMENT   
          .normal
            h1  GYM 
            h1  GEAR 
          .normal2
            h2  GYM 
            h2  NUTRITION 

